In [1]:
import numpy as np # linear algebra
import pandas as pd # CSV file I/O (e.g. pd.read_csv)
import os # reading the input files we have access to

print(os.listdir('.'))
TRAIN_PATH = 'train.csv'

['.ipynb', '.ipynb_checkpoints', 'GCP-Coupons-Instructions.rtf', 'Subm_1.csv', 'sample_submission.csv', 'submission.csv', 'taxi.ipynb', 'test.csv', 'train.csv']

In [2]:
"""%%time

s = !wc -l {TRAIN_PATH}

# add one because the file isn't quite correctly formatted as a CSV, should have a final newline char
n_rows = int(s[0].split(' ')[0])+1

print ('Exact number of rows: {%d}' % n_rows)"""

"%%time\n\ns = !wc -l {TRAIN_PATH}\n\n# add one because the file isn't quite correctly formatted as a CSV, should have a final newline char\nn_rows = int(s[0].split(' ')[0])+1\n\nprint ('Exact number of rows: {%d}' % n_rows)"

## Read training data

In [26]:
train_df =  pd.read_csv('train.csv', nrows =200000).dropna()
train_df.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [27]:
train_df.head(3)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2

In [28]:
test_df = pd.read_csv('test.csv')
test_df.head()

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1
2,2011-10-08 11:53:44.0000002,2011-10-08 11:53:44 UTC,-73.982524,40.751260,-73.979654,40.746139,1
3,2012-12-01 21:12:12.0000002,2012-12-01 21:12:12 UTC,-73.981160,40.767807,-73.990448,40.751635,1
4,2012-12-01 21:12:12.0000003,2012-12-01 21:12:12 UTC,-73.966046,40.789775,-73.988565,40.744427,1

## Drop missing value

In [29]:
#np.where(train_df.isna())

In [30]:
train_df.describe(percentiles=[])

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000,199999.000000
mean,11.342871,-72.506114,39.922322,-72.518673,39.925579,1.682453
std,9.837879,11.608125,10.048972,10.724226,6.751120,1.306727
min,-44.900000,-736.550000,-3116.285383,-1251.195890,-1189.615440,0.000000
50%,8.500000,-73.981743,40.752762,-73.980072,40.753225,1.000000
max,500.000000,2140.601160,1703.092772,40.851027,404.616667,6.000000

## Feature manipulation

In [31]:
train_df['pickup_datetime'] = train_df['pickup_datetime'].str.slice(0, 19)
train_df['pickup_datetime'] = pd.to_datetime(train_df['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')

In [32]:
train_df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1
5,2011-01-06 09:50:45.0000002,12.10,2011-01-06 09:50:45,-74.000964,40.731630,-73.972892,40.758233,1
6,2012-11-20 20:35:00.0000001,7.50,2012-11-20 20:35:00,-73.980002,40.751662,-73.973802,40.764842,1
7,2012-01-04 17:22:00.00000081,16.50,2012-01-04 17:22:00,-73.951300,40.774138,-73.990095,40.751048,1
8,2012-12-03 13:10:00.000000125,9.00,2012-12-03 13:10:00,-74.006462,40.726713,-73.993078,40.731628,1
9,2009-09-02 01:11:00.00000083,8.90,2009-09-02 01:11:00,-73.980658,40.733873,-73.991540,40.758138,2
10,2012-04-08 07:30:50.0000002,5.30,2012-04-08 07:30:50,-73.996335,40.737142,-73.980721,40.733559,1
11,2012-12-24 11:24:00.00000098,5.50,2012-12-24 11:24:00,0.000000,0.000000,0.000000,0.000000,3
12,2009-11-06 01:04:03.0000002,4.10,2009-11-06 01:04:03,-73.991601,40.744712,-73.983081,40.744682,2
13,2013-07-02 19:54:00.000000232,7.00,2013-07-02 19:54:00,-74.005360,40.728867,-74.008913,40.710907,1
14,2011-04-05 17:11:05.0000001,7.70,2011-04-05 17:11:05,-74.001821,40.737547,-73.998060,40.722788,2
15,2013-11-23 12:57:00.000000190,5.00,2013-11-23 12:57:00,0.000000,0.000000,0.000000,0.000000,1
16,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00,-73.986430,40.760465,-73.988990,40.737075,1
17,2009-07-22 16:08:00.000000163,5.30,2009-07-22 16:08:00,-73.981060,40.737690,-73.994177,40.728412,1
18,2010-07-07 14:52:00.00000044,5.30,2010-07-07 14:52:00,-73.969505,40.784843,-73.958732,40.783357,1
19,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22,-73.979815,40.751902,-73.979446,40.755481,1
20,2010-09-07 13:18:00.000000175,10.50,2010-09-07 13:18:00,-73.985382,40.747858,-73.978377,40.762070,1
21,2013-02-12 12:15:46.0000002,11.50,2013-02-12 12:15:46,-73.957954,40.779252,-73.961250,40.758787,1
22,2009-08-06 18:17:23.0000001,4.50,2009-08-06 18:17:23,-73.991707,40.770505,-73.985459,40.763671,1
23,2010-12-06 12:29:00.000000199,4.90,2010-12-06 12:29:00,-74.000632,40.747473,-73.986672,40.740577,1
24,2009-12-10 15:37:00.00000020,6.10,2009-12-10 15:37:00,-73.969622,40.756973,-73.981152,40.759712,1
25,2011-06-21 16:15:00.00000073,7.30,2011-06-21 16:15:00,-73.991875,40.754437,-73.977230,40.774323,3
26,2011-02-07 20:01:00.000000114,6.50,2011-02-07 20:01:00,0.000000,0.000000,0.000000,0.000000,1
27,2011-06-28 19:47:00.000000168,4.50,2011-06-28 19:47:00,-73.988893,40.760160,-73.986445,40.757857,3
28,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20,-73.989258,40.690835,-74.004133,40.725690,1
29,2013-08-11 00:52:00.00000026,4.50,2013-08-11 00:52:00,-73.981020,40.737760,-73.980668,40.730497,2
...,...,...,...,...,...,...,...,...
199970,2010-05-13 14:08:57.0000002,6.50,2010-05-13 14:08:57,-74.003503,40.734177,-73.990104,40.725114,1
199971,2011-03-31 18:19:42.0000004,14.10,2011-03-31 18:19:42,-73.997844,40.735815,-73.961866,40.779579,2
199972,2011-12-23 06:52:00.00000050,5.70,2011-12-23 06:52:00,-73.993793,40.751708,-73.993793,40.751708,1
199973,2014-04-26 23:15:07.0000003,9.00,2014-04-26 23:15:07,-73.988944,40.768609,-73.970087,40.764153,2
199974,2015-06-06 02:57:43.0000003,5.00,2015-06-06 02:57:43,-73.952156,40.777081,-73.950951,40.770878,5
199975,2009-02-21 23:12:00.000000278,5.30,2009-02-21 23:12:00,-73.978975,40.755285,-73.985253,40.760993,2
199976,2014-07-09 07:35:15.0000002,4.50,2014-07-09 07:35:15,-73.997730,40.761634,-73.998430,40.764336,1
199977,2011-09-27 06:46:12.0000001,4.50,2011-09-27 06:46:12,-73.998794,40.739802,-73.995108,40.750046,1
199978,2013-10-04 16:15:00.00000068,11.00,2013-10-04 16:15:00,-73.873325,40.774110,-73.891250,40.746500,2
199979,2014-09-21 21:37:00.000000114,10.50,2014-09-21 21:37:00,-73.980177,40.661065,-73.994345,40.638822,6
199980,2009-08-22 11:13:04.0000001,12.90,2009-08-22 11:13:04,-73.997915,40.724633,-73.973431,40.760758,1
199981,2010-10-07 20:42:00.0000006,15.70,2010-10-07 20:42:00,-73.983210,40.771615,-74.010007,40.714510,1
199982,2013-06-30 09:56:16.0000001,36.33,2013-06-30 09:56:16,-73.863315,40.769388,-73.975953,40.757057,2
199983,2015-06-13 09:40:28.0000001,6.00,2015-06-13 09:40:28,-73.980606,40.744518,-73.991722,40.749031,1
199984,2009-05-27 07:14:14.0000001,11.70,2009-05-27 07:14:14,-73.954570,40.769932,-73.985505,40.741641,1
199985,2009-10-10 13:19:38.0000002,10.90,2009-10-10 13:19:38,-73.987063,40.750178,-73.987330,40.760587,1
199986,2011-09-16 06:46:36.0000003,5.30,2011-09-16 06:46:36,-73.982942,40.766404,-73.974010,40.755850,1
199987,2012-10-14 05:52:00.00000024,17.00,2012-10-14 05:52:00,-73.949495,40.776977,-73.930535,40.766412,1
199988,2013-06-03 15:41:53.0000001,57.33,2013-06-03 15:41:53,-73.978104,40.761737,-73.783233,40.648834,2
199989,2014-08-31 00:12:00.000000175,3.00,2014-08-31 00:12:00,-73.988800,40.745022,-73.989315,40.743430,5
199990,2010-10-16 09:31:01.0000001,12.90,2010-10-16 09:31:01,-73.964849,40.764093,-74.003555,40.722676,1
199991,2010-08-21 05:38:10.0000001,2.90,2010-08-21 05:38:10,-74.002399,40.729507,-74.001551,40.730926,1
199992,2012-04-09 00:22:00.00000053,3.70,2012-04-09 00:22:00,-73.862085,40.735927,-73.861992,40.734425,2
199993,2012-11-23 22:34:13.0000006,9.50,2012-11-23 22:34:13,-73.992290,40.735478,-73.962822,40.758203,2
199994,2013-09-09 17:18:27.0000001,9.00,2013-09-09 17:18:27,-73.988872,40.692757,-73.959871,40.692645,1
199995,2011-03-24 01:38:50.0000002,8.90,2011-03-24 01:38:50,-73.989939,40.729423,-73.990683,40.758504,1
199996,2012-06-20 21:36:56.0000004,14.10,2012-06-20 21:36:56,-74.005021,40.739912,-73.961319,40.766701,3
199997,2012-08-04 19:18:00.000000219,6.90,2012-08-04 19:18:00,-73.993203,40.752092,-74.003508,40.732282,1
199998,2013-11-26 18:59:21.0000002,18.00,2013-11-26 18:59:21,-73.994411,40.750884,-73.978532,40.785599,1
199999,2015-01-06 10:21:48.0000001,42.83,2015-01-06 10:21:48,-74.001656,40.730495,-73.865578,40.770958,4

In [33]:
train_df.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [34]:
mask = train_df['pickup_longitude'].between(-100, -40)
mask &= train_df['dropoff_longitude'].between(-100, -40)
mask &= train_df['pickup_latitude'].between(20, 60)
mask &= train_df['dropoff_latitude'].between(20, 60)
mask &= train_df['passenger_count'].between(0, 8)
mask &= train_df['fare_amount'].between(0, 250)
train_df = train_df[mask]

In [35]:
coord = ['pickup_longitude','pickup_latitude', 
          'dropoff_longitude', 'dropoff_latitude']

## Feature generation

In [36]:
#radius of earth in kilometers
R = 6373.0

pickup_lat  = np.radians(train_df["pickup_latitude"])
pickup_lon  = np.radians(train_df["pickup_longitude"])
dropoff_lat = np.radians(train_df["dropoff_latitude"])
dropoff_lon = np.radians(train_df["dropoff_longitude"])

dist_lon = dropoff_lon - pickup_lon
dist_lat = dropoff_lat - pickup_lat

#Formula
a = (np.sin(dist_lat/2))**2 + np.cos(pickup_lat) * np.cos(dropoff_lat) * (np.sin(dist_lon/2))**2 
c = 2 * np.arctan2( np.sqrt(a), np.sqrt(1-a)) 
d = R * c #(where R is the radius of the Earth)

train_df["trip_distance_km"] = d
train_df["trip_distance_2norm"] = np.sqrt(dist_lon**2+dist_lat**2)
train_df["trip_distance_1norm"] = abs(dist_lon)+abs(dist_lat)

#create new variable log of distance
train_df["log_trip_ditance"] = np.log(train_df["trip_distance_km"])

train_df[coord + ["trip_distance_km"]].head(7)

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance_km
0,-73.844311,40.721319,-73.841610,40.712278,1.031088
1,-74.016048,40.711303,-73.979268,40.782004,8.452786
2,-73.982738,40.761270,-73.991242,40.750562,1.389961
3,-73.987130,40.733143,-73.991567,40.758092,2.800149
4,-73.968095,40.768008,-73.956655,40.783762,1.999784
5,-74.000964,40.731630,-73.972892,40.758233,3.788428
6,-73.980002,40.751662,-73.973802,40.764842,1.556295

In [37]:
train_df.head(3)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance_km,trip_distance_2norm,trip_distance_1norm,log_trip_ditance
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,1.031088,0.000165,0.000205,0.030614
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,8.452786,0.001391,0.001876,2.134496
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,1.389961,0.000239,0.000335,0.329276

In [38]:
#radius of earth in kilometers
R = 6373.0

pickup_lat  = np.radians(test_df["pickup_latitude"])
pickup_lon  = np.radians(test_df["pickup_longitude"])
dropoff_lat = np.radians(test_df["dropoff_latitude"])
dropoff_lon = np.radians(test_df["dropoff_longitude"])

dist_lon = dropoff_lon - pickup_lon
dist_lat = dropoff_lat - pickup_lat

#Formula
a = (np.sin(dist_lat/2))**2 + np.cos(pickup_lat) * np.cos(dropoff_lat) * (np.sin(dist_lon/2))**2 
c = 2 * np.arctan2( np.sqrt(a), np.sqrt(1-a)) 
d = R * c #(where R is the radius of the Earth)

test_df["trip_distance_km"] = d
test_df["trip_distance_2norm"] = np.sqrt(dist_lon**2+dist_lat**2)
test_df["trip_distance_1norm"] = abs(dist_lon)+abs(dist_lat)

#create new variable log of distance
test_df["log_trip_ditance"] = np.log(test_df["trip_distance_km"])

test_df[coord + ["trip_distance_km"]].head(7)

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_distance_km
0,-73.973320,40.763805,-73.981430,40.743835,2.323989
1,-73.986862,40.719383,-73.998886,40.739201,2.426114
2,-73.982524,40.751260,-73.979654,40.746139,0.618822
3,-73.981160,40.767807,-73.990448,40.751635,1.961648
4,-73.966046,40.789775,-73.988565,40.744427,5.388992
5,-73.960983,40.765547,-73.979177,40.740053,3.223561
6,-73.949013,40.773204,-73.959622,40.770893,0.929893

In [39]:
train_df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance_km,trip_distance_2norm,trip_distance_1norm,log_trip_ditance
0,2009-06-15 17:26:21.0000001,4.50,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,1.031088,0.000165,0.000205,0.030614
1,2010-01-05 16:52:16.0000002,16.90,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,8.452786,0.001391,0.001876,2.134496
2,2011-08-18 00:35:00.00000049,5.70,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,1.389961,0.000239,0.000335,0.329276
3,2012-04-21 04:30:42.0000001,7.70,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,2.800149,0.000442,0.000513,1.029673
4,2010-03-09 07:51:00.000000135,5.30,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,1.999784,0.000340,0.000475,0.693039
5,2011-01-06 09:50:45.0000002,12.10,2011-01-06 09:50:45,-74.000964,40.731630,-73.972892,40.758233,1,3.788428,0.000675,0.000954,1.331951
6,2012-11-20 20:35:00.0000001,7.50,2012-11-20 20:35:00,-73.980002,40.751662,-73.973802,40.764842,1,1.556295,0.000254,0.000338,0.442308
7,2012-01-04 17:22:00.00000081,16.50,2012-01-04 17:22:00,-73.951300,40.774138,-73.990095,40.751048,1,4.156749,0.000788,0.001080,1.424733
8,2012-12-03 13:10:00.000000125,9.00,2012-12-03 13:10:00,-74.006462,40.726713,-73.993078,40.731628,1,1.253625,0.000249,0.000319,0.226039
9,2009-09-02 01:11:00.00000083,8.90,2009-09-02 01:11:00,-73.980658,40.733873,-73.991540,40.758138,2,2.850521,0.000464,0.000613,1.047502
10,2012-04-08 07:30:50.0000002,5.30,2012-04-08 07:30:50,-73.996335,40.737142,-73.980721,40.733559,1,1.375009,0.000280,0.000335,0.318460
12,2009-11-06 01:04:03.0000002,4.10,2009-11-06 01:04:03,-73.991601,40.744712,-73.983081,40.744682,2,0.717993,0.000149,0.000149,-0.331296
13,2013-07-02 19:54:00.000000232,7.00,2013-07-02 19:54:00,-74.005360,40.728867,-74.008913,40.710907,1,2.020018,0.000320,0.000375,0.703106
14,2011-04-05 17:11:05.0000001,7.70,2011-04-05 17:11:05,-74.001821,40.737547,-73.998060,40.722788,2,1.671969,0.000266,0.000323,0.514002
16,2014-02-19 07:22:00.00000074,12.50,2014-02-19 07:22:00,-73.986430,40.760465,-73.988990,40.737075,1,2.610594,0.000411,0.000453,0.959578
17,2009-07-22 16:08:00.000000163,5.30,2009-07-22 16:08:00,-73.981060,40.737690,-73.994177,40.728412,1,1.512379,0.000280,0.000391,0.413684
18,2010-07-07 14:52:00.00000044,5.30,2010-07-07 14:52:00,-73.969505,40.784843,-73.958732,40.783357,1,0.922241,0.000190,0.000214,-0.080949
19,2014-12-06 20:36:22.0000008,4.00,2014-12-06 20:36:22,-73.979815,40.751902,-73.979446,40.755481,1,0.399304,0.000063,0.000069,-0.918033
20,2010-09-07 13:18:00.000000175,10.50,2010-09-07 13:18:00,-73.985382,40.747858,-73.978377,40.762070,1,1.687391,0.000277,0.000370,0.523183
21,2013-02-12 12:15:46.0000002,11.50,2013-02-12 12:15:46,-73.957954,40.779252,-73.961250,40.758787,1,2.293189,0.000362,0.000415,0.829944
22,2009-08-06 18:17:23.0000001,4.50,2009-08-06 18:17:23,-73.991707,40.770505,-73.985459,40.763671,1,0.924586,0.000162,0.000228,-0.078409
23,2010-12-06 12:29:00.000000199,4.90,2010-12-06 12:29:00,-74.000632,40.747473,-73.986672,40.740577,1,1.404399,0.000272,0.000364,0.339609
24,2009-12-10 15:37:00.00000020,6.10,2009-12-10 15:37:00,-73.969622,40.756973,-73.981152,40.759712,1,1.018093,0.000207,0.000249,0.017931
25,2011-06-21 16:15:00.00000073,7.30,2011-06-21 16:15:00,-73.991875,40.754437,-73.977230,40.774323,3,2.532742,0.000431,0.000603,0.929302
27,2011-06-28 19:47:00.000000168,4.50,2011-06-28 19:47:00,-73.988893,40.760160,-73.986445,40.757857,3,0.328874,0.000059,0.000083,-1.112080
28,2012-05-04 06:11:20.0000002,9.30,2012-05-04 06:11:20,-73.989258,40.690835,-74.004133,40.725690,1,4.074742,0.000661,0.000868,1.404807
29,2013-08-11 00:52:00.00000026,4.50,2013-08-11 00:52:00,-73.981020,40.737760,-73.980668,40.730497,2,0.808407,0.000127,0.000133,-0.212690
30,2014-02-19 16:03:00.000000160,5.50,2014-02-19 16:03:00,-73.976075,40.752422,-73.981082,40.759285,1,0.872187,0.000148,0.000207,-0.136751
31,2015-06-21 21:46:34.0000001,22.54,2015-06-21 21:46:34,-74.010483,40.717667,-73.985771,40.660366,1,6.705656,0.001089,0.001431,1.902951
32,2009-01-09 16:10:00.000000170,31.90,2009-01-09 16:10:00,-73.873027,40.773883,-73.984545,40.769545,3,9.406248,0.001948,0.002022,2.241374
...,...,...,...,...,...,...,...,...,...,...,...,...
199970,2010-05-13 14:08:57.0000002,6.50,2010-05-13 14:08:57,-74.003503,40.734177,-73.990104,40.725114,1,1.513854,0.000282,0.000392,0.414659
199971,2011-03-31 18:19:42.0000004,14.10,2011-03-31 18:19:42,-73.997844,40.735815,-73.961866,40.779579,2,5.734529,0.000989,0.001392,1.746506
199972,2011-12-23 06:52:00.00000050,5.70,2011-12-23 06:52:00,-73.993793,40.751708,-73.993793,40.751708,1,0.000000,0.000000,0.000000,-inf
199973,2014-04-26 23:15:07.0000003,9.00,2014-04-26 23:15:07,-73.988944,40.768609,-73.970087,40.764153,2,1.664097,0.000338,0.000407,0.509283
199974,2015-06-06 02:57:43.0000003,5.00,2015-06-06 02:57:43,-73.952156,40.777081,-73.950951,40.770878,5,0.697357,0.000110,0.000129,-0.360458
199975,2009-02-21 23:12:00.000000278,5.30,2009-02-21 23:12:00,-73.978975,40.755285,-73.985253,40.760993,2,0.826365,0.000148,0.000209,-0.190719
199976,2014-07-09 07:35:15.0000002,4.50,2014-07-09 07:35:15,-73.997730,40.761634,-73.998430,40.764336,1,0.306274,0.000049,0.000059,-1.183274
199977,2011-09-27 06:46:12.0000001,4.50,2011-09-27 06:46:12,-73.998794,40.739802,-73.995108,40.750046,1,1.181019,0.000190,0.000243,0.166377
199978,2013-10-04 16:15:00.00000068,11.00,2013-10-04 16:15:00,-73.873325,40.774110,-73.891250,40.746500,2,3.422290,0.000575,0.000795,1.230310
199979,2014-09-21 21:37:00.000000114,10.50,2014-09-21 21:37:00,-73.980177,40.661065,-73.994345,40.638822,6,2.747847,0.000460,0.000635,1.010818
199980,2009-08-22 11:13:04.0000001,12.90,2009-08-22 11:13:04,-73.997915,40.724633,-73.973431,40.760758,1,4.516983,0.000762,0.001058,1.507844
199981,2010-10-07 20:42:00.0000006,15.70,2010-10-07 20:42:00,-73.983210,40.771615,-74.010007,40.714510,1,6.741277,0.001101,0.001464,1.908249
199982,2013-06-30 09:56:16.0000001,36.33,2013-06-30 09:56:16,-73.863315,40.769388,-73.975953,40.757057,2,9.588030,0.001978,0.002181,2.260515
199983,2015-06-13 09:40:28.0000001,6.00,2015-06-13 09:40:28,-73.980606,40.744518,-73.991722,40.749031,1,1.062738,0.000209,0.000273,0.060849
199984,2009-05-27 07:14:14.0000001,11.70,2009-05-27 07:14:14,-73.954570,40.769932,-73.985505,40.741641,1,4.086084,0.000732,0.001034,1.407587
199985,2009-10-10 13:19:38.0000002,10.90,2009-10-10 13:19:38,-73.987063,40.750178,-73.987330,40.760587,1,1.158010,0.000182,0.000186,0.146703
199986,2011-09-16 06:46:36.0000003,5.30,2011-09-16 06:46:36,-73.982942,40.766404,-73.974010,40.755850,1,1.394407,0.000241,0.000340,0.332469
199987,2012-10-14 05:52:00.00000024,17.00,2012-10-14 05:52:00,-73.949495,40.776977,-73.930535,40.766412,1,1.982866,0.000379,0.000515,0.684543
199988,2013-06-03 15:41:53.0000001,57.33,2013-06-03 15:41:53,-73.978104,40.761737,-73.783233,40.648834,2,20.681041,0.003931,0.005372,3.029217
199989,2014-08-31 00:12:00.000000175,3.00,2014-08-31 00:12:00,-73.988800,40.745022,-73.989315,40.743430,5,0.182319,0.000029,0.000037,-1.701999
199990,2010-10-16 09:31:01.0000001,12.90,2010-10-16 09:31:01,-73.964849,40.764093,-74.003555,40.722676,1,5.644667,0.000989,0.001398,1.730711
199991,2010-08-21 05:38:10.0000001,2.90,2010-08-21 05:38:10,-74.002399,40.729507,-74.001551,40.730926,1,0.173265,0.000029,0.000040,-1.752931
199992,2012-04-09 00:22:00.00000053,3.70,2012-04-09 00:22:00,-73.862085,40.735927,-73.861992,40.734425,2,0.167251,0.000026,0.000028,-1.788260
199993,2012-11-23 22:34:13.0000006,9.50,2012-11-23 22:34:13,-73.992290,40.735478,-73.962822,40.758203,2,3.543383,0.000649,0.000911,1.265082
199994,2013-09-09 17:18:27.0000001,9.00,2013-09-09 17:18:27,-73.988872,40.692757,-73.959871,40.692645,1,2.445872,0.000506,0.000508,0.894402
199995,2011-03-24 01:38:50.0000002,8.90,2011-03-24 01:38:50,-73.989939,40.729423,-73.990683,40.758504,1,3.235282,0.000508,0.000521,1.174116
199996,2012-06-20 21:36:56.0000004,14.10,2012-06-20 21:36:56,-74.005021,40.739912,-73.961319,40.766701,3,4.736905,0.000895,0.001230,1.555384
199997,2012-08-04 19:18:00.000000219,6.90,2012-08-04 19:18:00,-73.993203,40.752092,-74.003508,40.732282,1,2.368425,0.000390,0.000526,0.862225
199998,2013-11-26 18:59:21.0000002,18.00,2013-11-26 18:59:21,-73.994411,40.750884,-73.978532,40.785599,1,4.086478,0.000666,0.000883,1.407684
199999,2015-01-06 10:21:48.0000001,42.83,2015-01-06 10:21:48,-74.001656,40.730495,-73.865578,40.770958,4,12.317959,0.002478,0.003081,2.511058

## 3. train & validate

In [40]:
X = train_df[['pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count','trip_distance_km', 'trip_distance_km','trip_distance_1norm', 'trip_distance_2norm']].values
Y = train_df[['fare_amount']].values

X_real_test = test_df[['pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'trip_distance_km', 'trip_distance_km','trip_distance_1norm', 'trip_distance_2norm']].values

training_data = (X, Y)

In [43]:
# import pipeline
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
import warnings; warnings.simplefilter('ignore')
import numpy as np
import pandas as pd


# Preprocess
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets


# import regressors
# for regressors, score function is R2-score in sklearn.metrics
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, DotProduct, WhiteKernel
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.neural_network import MLPRegressor

# import MSE
from sklearn.metrics import mean_squared_error


# Result
col = ['model', 'MSE', 'R2']
regResult = pd.DataFrame(columns=col)


# Regressor List
k_of_kNN = 1
regressornames = ["SGD", str(k_of_kNN)+" Nearest Neighbors",  str(k_of_kNN+2)+" Nearest Neighbors",#"Linear SVR", 
                  #"RBF SVR", 
         #"RBF Gaussian Process", "DotKernel Gaussian Process",
         "Decision Tree", "Random Forest", "AdaBoost", 
                  #"Neural Net",
         "Ridge1", "Ridge2"]#, "Ridge3"]#, "Ridge4"]#, "Ridge5"]

regressors = [
    SGDRegressor(max_iter=100, tol=1e-3),
    KNeighborsRegressor(k_of_kNN), 
    KNeighborsRegressor(k_of_kNN+2), 
#    SVR(kernel='linear', C=1e3),
#    SVR(kernel='rbf', C=1e3, gamma=0.1),
#    GaussianProcessRegressor(kernel=1.0 * RBF(1.0)),
#    GaussianProcessRegressor(kernel=DotProduct() + WhiteKernel()),
    DecisionTreeRegressor(max_depth=5),
    RandomForestRegressor(max_depth=10, n_estimators=10, max_features=2), 
    AdaBoostRegressor(),
#    MLPRegressor(hidden_layer_sizes=(5,),
#                   learning_rate='adaptive',
#                   max_iter=10000,
#                   learning_rate_init=0.01,
#                   alpha=0.01),
    make_pipeline(PolynomialFeatures(1), Ridge()),
    make_pipeline(PolynomialFeatures(2), Ridge())#,
#    make_pipeline(PolynomialFeatures(3), Ridge())#,
#    make_pipeline(PolynomialFeatures(4), Ridge())#,
#    make_pipeline(PolynomialFeatures(5), Ridge())
    ]

# Dataset List

datasets = [training_data]

# iterate over datasets
for ds_cnt, ds in enumerate(datasets):
    X, y = ds
    regResult = pd.DataFrame(columns=col)
    
    # Standardize
    #X = StandardScaler().fit_transform(X)
    
    # Data Split
    X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=.3, random_state=42)
    
    #X_real_test = test_df[['pickup_longitude',
    #   'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
    #   'passenger_count']].values
    
    # iterate over regressors
    for name, regressor in zip(regressornames, regressors):
        regressor.fit(X_train, y_train)
        score = regressor.score(X_test, y_test)
        y_pred = regressor.predict(X_test)
        #y_pred_real_test = regressor.predict(X_real_test)
        print(name, "score: ", score)
        regResult = regResult.append({'model': name, 
                          'MSE': mean_squared_error(y_test, y_pred), 
                          'R2': score}, 
                          ignore_index=True)        
    display(regResult)
    print('-'*40)

SGD score:  -1.3085855063341823e+22
1 Nearest Neighbors score:  0.637038378619565
3 Nearest Neighbors score:  0.7318732813085516
Decision Tree score:  0.7624976961196179
Random Forest score:  0.7996600560434886
AdaBoost score:  -3.5673451223489363
Ridge1 score:  0.5410708778064757
Ridge2 score:  0.6759665857440245

                 model           MSE            R2
0                  SGD  1.204996e+24 -1.308586e+22
1  1 Nearest Neighbors  3.342290e+01  6.370384e-01
2  3 Nearest Neighbors  2.469014e+01  7.318733e-01
3        Decision Tree  2.187013e+01  7.624977e-01
4        Random Forest  1.844807e+01  7.996601e-01
5             AdaBoost  4.205787e+02 -3.567345e+00
6               Ridge1  4.225996e+01  5.410709e-01
7               Ridge2  2.983824e+01  6.759666e-01

----------------------------------------

## Predict

In [22]:
import lightgbm as lgb

In [23]:
#regressor = KNeighborsRegressor(k_of_kNN+2)
#regressor =  RandomForestRegressor(max_depth=10, n_estimators=10, max_features=3)
#regressor =  make_pipeline(PolynomialFeatures(2), Ridge())

import lightgbm as lgb
regressor = lgb.LGBMRegressor()

regressor.fit(X_train, y_train)
y_pred_test = regressor.predict(X_real_test)

In [24]:
pd.Series(y_pred_test.flatten()).unique()
##y_pred_test

array([ 8.53588969,  8.73944259,  5.11022557, ..., 53.02670288,
       20.69259595,  6.69333038])

## Write to csv

In [25]:
subm_df = pd.read_csv('sample_submission.csv')
subm_df['fare_amount'] = y_pred_test.flatten()
subm_df.to_csv('submission.csv', index=False)

#holdout = pd.DataFrame({'key': test_df.index, 'fare_amount': y_pred_test.flatten()}, columns = ['key', 'fare_amount'])
#holdout

In [357]:
#holdout.to_csv('submission.csv', index=False)